<button (click)="onLeaveRoom()">Leave room: {{roomId}}</button>


<p><b>Message history:</b></p>
<ul>
  <li *ngFor="let message of messages">
    <p><b>{{message.nick}} says:</b> {{message.message}}</p>
  </li>
</ul>
<div>
  <input placeholder="Write message" [(ngModel)]="newMessage" />
  <button (click)="onSendMessage()">Send</button>
</div>
<p>Connected users:</p>
<ul>
  <li *ngFor="let user of users">
    <p>{{user}}</p>
  </li>
</ul>



<input placeholder="User to kick" [(ngModel)]="userToKick">
<button (click)="onKickUser()">Kick user</button>
